target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
target/classes/module-info.class

### Generated Logfiles ###
/src/main/resources/technikum/at/tourplanner_swen2_team5/logs/

### IntelliJ IDEA ###
.idea/encodings.xml
.idea/misc.xml
.idea/dataSources/*
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/vcs.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/workspace.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

