.root {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
}

.icon-button {
    -fx-background-color: #A4D65E;
    -fx-background-radius: 50;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 50;
    -fx-cursor: hand;
}

.icon-button:hover {
    -fx-background-color: #395C37;
}

.text-field, .text-area {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #A4D65E;
    -fx-border-width: 2;
    -fx-padding: 4;
    -fx-background-color: white;
    -fx-background-insets: 0; /* Setzt die Hintergrundabstände auf 0 */
}

.text-area .content {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: #A4D65E;
    -fx-border-width: 2;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

/* Stil für die spezifischen Buttons */
#saveButton {
    -fx-background-color: #A4D65E; /* Grün für den Speichern-Button */
}

#saveButton:hover {
    -fx-background-color: #395C37;
}

#deleteButton {
    -fx-background-color: #F44336; /* Rot für den Löschen-Button */
}

#deleteButton:hover {
    -fx-background-color: #bb1b11;
}

.slider {
    -fx-padding: 10;
    -fx-background-color: transparent;
}

.slider .thumb {
    -fx-background-color: transparent, white, transparent;
    -fx-background-insets: 1, 2, -1;
    -fx-background-radius: 5em;
    -fx-padding: 13;
    -fx-background-image: url('../img/logos/BikerLogoMave.png');
    -fx-background-size: cover;
}

.slider .track {
    -fx-background-color: #A4D65E;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-pref-height: 10;
}

.slider .axis {
    -fx-tick-label-fill: #333;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
}

.slider:hover .thumb {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}



.date-picker {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.date-picker .text-field {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.date-picker .arrow-button {
    -fx-background-color: #A4D65E;
    -fx-background-radius: 10;
}

.date-picker .arrow-button:hover {
    -fx-background-color: #395C37;
}

.date-picker .arrow {
    -fx-shape: "M 6 1 L 6 3 L 5 3 C 3.9 3 3 3.9 3 5 L 3 19 C 3 20.1 3.9 21 5 21 L 19 21 C 20.1 21 21 20.1 21 19 L 21 5 C 21 3.9 20.1 3 19 3 L 18 3 L 18 1 L 16 1 L 16 3 L 8 3 L 8 1 L 6 1 z M 5 8 L 19 8 L 19 19 L 5 19 L 5 8 z";
    -fx-min-height: 13px;
    -fx-min-width: 12px;
    -fx-translate-x: -1px;
    -fx-translate-y: -1px;
    -fx-background-color: black;
}

.date-picker .month-year-pane {
    -fx-background-color: #A4D65E;
}

.date-picker .day-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.date-picker .day-cell:selected {
    -fx-background-color: #A4D65E;
    -fx-text-fill: white;
}

.date-picker .day-cell:focused {
    -fx-background-color: #b8e986;
}

.date-picker .day-cell:hover {
    -fx-background-color: #d0f4a6;
}

