<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">${DB_URL}</property>
        <property name="hibernate.connection.username">${DB_USERNAME}</property>
        <property name="hibernate.connection.password">${DB_PASSWORD}</property>

        <!-- Other Hibernate properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <!-- Mapping classes -->
        <mapping class="technikum.at.tourplanner_swen2_team5.BL.models.TourModel"/>
        <mapping class="technikum.at.tourplanner_swen2_team5.BL.models.TourLogModel"/>
        <mapping class="technikum.at.tourplanner_swen2_team5.BL.models.TourMapModel"/>
        <mapping class="technikum.at.tourplanner_swen2_team5.BL.models.DifficultyModel"/>
        <mapping class="technikum.at.tourplanner_swen2_team5.BL.models.TransportTypeModel"/>
    </session-factory>
</hibernate-configuration>
